* {font-family: "proxima_nova_rg"}
a{cursor:pointer;}
a:focus,a:hover{text-decoration:none;}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
.b {font-weight:bold}
h1{margin-top:0px;}
h1, h2,h3,h4{font-weight:bold;}
*.nopadding {
    padding: 0;
}

@font-face{font-family:'proxima_nova_rg';
    src:url(/fonts/proxima_nova_regular.eot);
    src:
        local('☺'),
        url(/fonts/proxima_nova_regular.eot?#iefix) format('embedded-opentype') ,
        url(/fonts/proxima_nova_regular.woff) format('woff') ,
        url(/fonts/proxima_nova_regular.ttf) format('truetype') ,
        url(/fonts/proxima_nova_regular.svg#proxima_nova_rg) format('svg');

    font-weight:normal;
    font-style:normal
}
.content.grey{background-color:#fafafa}
.content{padding-bottom:54px;}

@font-face{
    font-family:'proxima_nova_rg';
    src:url(/fonts/proxima_nova_bold.eot);
    src:
        local('☺'),
        url(/fonts/proxima_nova_bold.eot?#iefix) format('embedded-opentype') ,
        url(/fonts/proxima_nova_bold.woff) format('woff') ,
        url(/fonts/proxima_nova_bold.ttf) format('truetype') ,
        url(/fonts/proxima_nova_bold.svg#proxima_nova_rg) format('svg');
    font-weight:bold;font-style:normal
}

.metro-station{display:inline-block;position:relative;padding-left:22px;margin-bottom:4px}.metro-station:before{content:"";position:relative;width:17px;height:11px;display:inline-block;margin-right:6px;margin-left:-22px;margin-bottom:3px;vertical-align:middle;background-image:url("/pu-sprite.png")}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station:before{background-image:url("/pu-sprite-2x.png")}}.metro-station.line-m1:before{background-position:-60px -72px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m1:before{background-position:-60px -72px;background-size:109px 83px}}.metro-station.line-m2:before{background-position:0 -58px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m2:before{background-position:0 -58px;background-size:109px 83px}}.metro-station.line-m3:before{background-position:-20px -58px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m3:before{background-position:-20px -58px;background-size:109px 83px}}.metro-station.line-m4:before{background-position:-40px -72px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m4:before{background-position:-40px -72px;background-size:109px 83px}}.metro-station.line-m5:before{background-position:-76px 0}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m5:before{background-position:-76px 0;background-size:109px 83px}}.metro-station.line-m6:before{background-position:-76px -14px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m6:before{background-position:-76px -14px;background-size:109px 83px}}.metro-station.line-m7:before{background-position:-76px -28px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m7:before{background-position:-76px -28px;background-size:109px 83px}}.metro-station.line-m8:before{background-position:-76px -42px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m8:before{background-position:-76px -42px;background-size:109px 83px}}.metro-station.line-m9:before{background-position:-76px -56px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m9:before{background-position:-76px -56px;background-size:109px 83px}}.metro-station.line-m10:before{background-position:-40px -58px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m10:before{background-position:-40px -58px;background-size:109px 83px}}.metro-station.line-m11:before{background-position:0 -72px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m11:before{background-position:0 -72px;background-size:109px 83px}}.metro-station.line-m12:before{background-position:-20px -72px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m12:before{background-position:-20px -72px;background-size:109px 83px}}.metro-station.line-m13:before{background-position:-20px -28px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m13:before{background-position:-20px -28px;background-size:109px 83px}}.metro-station.line-m14:before{background-position:-56px 0}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m14:before{background-position:-56px 0;background-size:109px 83px}}.metro-station.line-sp1:before{background-position:-56px -15px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-sp1:before{background-position:-56px -15px;background-size:109px 83px}}.metro-station.line-sp2:before{background-position:0 -43px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-sp2:before{background-position:0 -43px;background-size:109px 83px}}.metro-station.line-sp3:before{background-position:-20px -43px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-sp3:before{background-position:-20px -43px;background-size:109px 83px}}.metro-station.line-sp4:before{background-position:-40px -43px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-sp4:before{background-position:-40px -43px;background-size:109px 83px}}.metro-station.line-sp5:before{background-position:0 -28px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-sp5:before{background-position:0 -28px;background-size:109px 83px}}.metro-travel-time{position:relative;padding-left:22px;margin-bottom:4px;margin-top:-4px;color:gray}

.fresco{cursor:zoom-in;}
.notopmargin{margin-top:0px;}

.loading:before{
    content: '';
    height:100%;
    width:100%;
    background: url(/preloader.gif) no-repeat;
    background-position: center center;
    position: absolute;
    z-index: 11;
    left:0px;
    top:0px;
}

.loading-top:before{
    content: '';
    height:100%;
    width:100%;
    background: url(/preloader.gif) no-repeat;
    background-position: top center;
    position: absolute;
    z-index: 11;
}

.form-box{
    background-color: #fafafa;
    padding:24px;}

a.link{text-decoration: underline;}
a.link:hover{text-decoration: none;}
a.link-inner{border-bottom: 1px dashed #3097D1;}
a.link-inner:hover{border-bottom:0px;}
.btn{border-radius:0px;}

.modal-header *{margin-top:0px;margin-bottom:0px;}

.form-control{box-shadow:none;border-radius:0px;}
h1.nomargin, h2.nomargin, h3.nomargin{margin-top:0px;}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

ul.checkmarks li:before
{
    content: '✔';
    margin-left: -1em;
    margin-right: .100em;
    position: absolute;
    color:red;
    margin-left:-20px;
}

ul.checkmarks
{
    padding-left: 20px;
    text-indent: 2px;
    list-style: none;
    list-style-position: outside;
}
