body {font-family: "PT Sans"}
a{cursor:pointer;color: rgb(0, 106, 176);}
a:focus,a:hover{text-decoration:none;}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
.b {font-weight:bold}
h1{margin-top:0px;font-size:40px;}
h1, h2,h3,h4{font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica"}
*.nopadding {
    padding: 0;
}
*.nomargin {
    margin: 0;
}
h1{
    font-family: Helvetica;
    font-size: 40px;
}

.body .container-fluid{padding-left:7px;padding-right:7px;}

.breadcrumb{padding:0px;background-color: transparent;}
.breadcrumb>li+li:before {
    content: "/ ";
    padding: 0 5px;
    color: #d73533;
    font-weight:bold;
}
.breadcrumb>li:not(:last-child) a {
    color:#959595
}
.breadcrumb>li:last-child a {
    color:#2f383c
}

.content.grey{background-color:#eef8ff}
.content{padding-bottom:54px;}


.metro-station{display:inline-block;position:relative;padding-left:22px;margin-bottom:4px}.metro-station:before{content:"";position:relative;width:17px;height:11px;display:inline-block;margin-right:6px;margin-left:-22px;margin-bottom:3px;vertical-align:middle;background-image:url("/pu-sprite.png")}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station:before{background-image:url("/pu-sprite-2x.png")}}.metro-station.line-m1:before{background-position:-60px -72px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m1:before{background-position:-60px -72px;background-size:109px 83px}}.metro-station.line-m2:before{background-position:0 -58px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m2:before{background-position:0 -58px;background-size:109px 83px}}.metro-station.line-m3:before{background-position:-20px -58px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m3:before{background-position:-20px -58px;background-size:109px 83px}}.metro-station.line-m4:before{background-position:-40px -72px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m4:before{background-position:-40px -72px;background-size:109px 83px}}.metro-station.line-m5:before{background-position:-76px 0}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m5:before{background-position:-76px 0;background-size:109px 83px}}.metro-station.line-m6:before{background-position:-76px -14px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m6:before{background-position:-76px -14px;background-size:109px 83px}}.metro-station.line-m7:before{background-position:-76px -28px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m7:before{background-position:-76px -28px;background-size:109px 83px}}.metro-station.line-m8:before{background-position:-76px -42px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m8:before{background-position:-76px -42px;background-size:109px 83px}}.metro-station.line-m9:before{background-position:-76px -56px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m9:before{background-position:-76px -56px;background-size:109px 83px}}.metro-station.line-m10:before{background-position:-40px -58px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m10:before{background-position:-40px -58px;background-size:109px 83px}}.metro-station.line-m11:before{background-position:0 -72px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m11:before{background-position:0 -72px;background-size:109px 83px}}.metro-station.line-m12:before{background-position:-20px -72px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m12:before{background-position:-20px -72px;background-size:109px 83px}}.metro-station.line-m13:before{background-position:-20px -28px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m13:before{background-position:-20px -28px;background-size:109px 83px}}.metro-station.line-m14:before{background-position:-56px 0}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-m14:before{background-position:-56px 0;background-size:109px 83px}}.metro-station.line-sp1:before{background-position:-56px -15px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-sp1:before{background-position:-56px -15px;background-size:109px 83px}}.metro-station.line-sp2:before{background-position:0 -43px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-sp2:before{background-position:0 -43px;background-size:109px 83px}}.metro-station.line-sp3:before{background-position:-20px -43px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-sp3:before{background-position:-20px -43px;background-size:109px 83px}}.metro-station.line-sp4:before{background-position:-40px -43px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-sp4:before{background-position:-40px -43px;background-size:109px 83px}}.metro-station.line-sp5:before{background-position:0 -28px}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi){.metro-station.line-sp5:before{background-position:0 -28px;background-size:109px 83px}}.metro-travel-time{position:relative;padding-left:22px;margin-bottom:4px;margin-top:-4px;color:gray}

.fresco img{cursor:zoom-in;}
.notopmargin{margin-top:0px;}

.loading:before{
    content: '';
    height:100%;
    width:100%;
    background: url(/preloader.gif) no-repeat;
    background-position: center center;
    position: absolute;
    z-index: 11;
    left:0px;
    top:0px;
}

.loading-top:before{
    content: '';
    height:100%;
    width:100%;
    background: url(/preloader.gif) no-repeat;
    background-position: top center;
    position: absolute;
    z-index: 11;
}

.form-box{
    background-color: #fafafa;
    padding:24px;}

a.link{text-decoration: underline;}
a.link:hover{text-decoration: none;}
a.link-inner{border-bottom: 1px dashed #006ab0;;}
a.link-inner:hover{border-bottom:0px;}

.btn{
    padding:9px 10px;
    border-radius:2px;
    line-height:1;
    font-weight:normal;;
    border-width: 2px;
    font-size: 18px;
}

.btn-link {
    color: #006ab0;
    font-weight: 400;
    border-radius: 0;
}
.btn-link:hover {
    color: #d73533;
    font-weight: 400;
    border-radius: 0;
}
.btn-primary{
    background-color: #0068ac;
    border-color: #0068ac;
}
.btn-sm{
    border-width: 1px;
}
.btn-round{
    border-radius:100px;
    padding-left: 12px;
    padding-right: 12px;
}

.btn-inline{
    display: inline-block;
    width: auto;
    float: none;
}

.btn.btn-default{
    font-size: 18px;
    text-align: center;
    color: #006ab0;
    background-color: white;
    border: 2px solid #006ab0;
}
.btn.btn-default:hover{
    font-size: 18px;
    text-align: center;
    color: #adcee4;
    border: 2px solid #adcee4;
}

.btn.btn-default.active{
    color: white;
    background-color:#006ab0;;
    border: 2px solid #006ab0;
}

.btn.btn-danger{
    border-color: #d73533;
    background-color: #d73533;
}

.checkbox input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 16px;
    height:16px;
    border: solid 3px rgb(207, 208, 208);
    display: inline-block;
    left:0px;
    top:1px;
    margin:0px;
    padding:0px;
}

.checkbox label {
    padding-left:27px;
    font-family: Helvetica;
    position:relative;
}
.checkbox:not(.disabled) input[type=checkbox]:hover {
    background-color: rgb(207, 208, 208);
}
.checkbox:not(.disabled) input[type=checkbox]:checked {
    background-color: rgb(46, 55, 59);
}

.modal-header *{margin-top:0px;margin-bottom:0px;}

.form-control{box-shadow:none;border-radius:0px;}
h1.nomargin, h2.nomargin, h3.nomargin{margin-top:0px;}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

ul.checkmarks li:before
{
    content: '✔';
    margin-left: -1em;
    margin-right: .100em;
    position: absolute;
    color:red;
    margin-left:-20px;
}

ul.checkmarks
{
    padding-left: 20px;
    text-indent: 2px;
    list-style: none;
    list-style-position: outside;
}

.modal-content{
    border-radius:0px;
    font-size:16px;
}

.modal-content .alert{
    font-size:14px;
}

.modal-dialog{width:800px;max-width:100%;}
@media screen and (max-width:600px) {
    .modal-content .modal-body,
    .modal-content .modal-header,
    .modal-content .modal-footer{
        padding-left:15px;padding-right:15px;
    }
}
.modal-dialog img{max-width:100%;}
.modal-content .modal-body{padding:5px 60px 10px 60px;}
.modal-content .modal-header{border-bottom:9px solid #eef8ff;padding-left:60px;padding-right:60px;position:relative;}
.modal-content .modal-footer{border-top:0px;padding-left:60px;padding-right:60px;}
.modal-header .close{
    border: 3px solid #dddfe0;
    border-radius: 66px;
    width: 34px;
    height: 34px;
    color: #006ab0;
    opacity: 1;
    padding-left: 1px;
    font-size: 23px;
    top: 50%;
    margin-top: -17px;
    right: 20px;
    position: absolute;
}

.alert{border-radius:0px;border:0px;padding:20px 15px;}
.alert.alert-info{
    background-color: #eef8ff;
    color: #006ab0
}



.icon-heart {
    background: url('/dizayn/like-active.png');
    width: 18px;
    height: 21px;
    display: inline-block;
    margin-bottom:-5px;
}
.icon-heart-o {
    background: url('/dizayn/like-noactive.png');
    width: 18px;
    height: 21px;
    display: inline-block;
    margin-bottom:-5px;
}
.col-inline {
    display: inline-block;position: relative;vertical-align: top;float:none;box-sizing: border-box;
}

.pagination>li>a, .pagination>li>span {
    border: none;
    margin-left:6px;
    margin-right:6px;
}

.primerka-button .primerka-button-active-icon {
    position:absolute;color:#d73533;bottom:3px;right:3px;display: none;
    font-size: 30px;
}
.primerka-button[data-active="1"] .primerka-button-active-icon {display: block;}

.button-subtext{
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #006ab0;
    position:absolute;
    width:100%;
    display: block;
}